$color-text-dark: #403f3d;
$color-text-light: #e1d4c9;
$color-text-accent: #b0907a;

$color-bg-body: #e1d4c9;
$color-bg-container: #665f55;
$color-bg-backdrop: rgba(64, 63, 61, 0.8);

$color-border-light: #c1b6ad;
$color-border-dark: #665f55;

$content-width: 1360px;
$tablet-width: 768px;
$mobile-large-width: 480px;
$mobile-medium-width: 414px;
$mobile-small-width: 320px;
