.about {
  padding-bottom: 100px;
}

.about__title {
  margin-bottom: 40px;
}

.about__gallery {
  display: flex;
  gap: 40px;
}

.about__gallery-col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__image-wrapper {
  display: flex;
}

.about__image {
  width: 660px;
  object-fit: cover;
  border-radius: 20px;
  &_large {
    height: 590px;
  }

  &_small {
    height: 430px;
  }
}
