.slider {
  //   display: flex;
  //   flex-direction: column;
}

.slider__carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid $color-border-dark;
}

.slider__arrow-icon {
  width: 24px;
  height: 24px;
}

.slider__arrow-icon_left {
  background-image: url("../../images/icons/arrow-left.svg");
}

.slider__arrow-icon_right {
  background-image: url("../../images/icons/arrow-right.svg");
}

.slider__slides {
    // display: flex;
}
