.menu {
  padding-bottom: 100px;
}

.menu__title {
  text-align: center;
  width: 62%;
  margin: 0 auto 40px auto;
}

.menu__tabs-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.menu__tabs {
  gap: 16px;
}

.menu__items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.menu__item {
  flex-basis: 310px;
  overflow: hidden;
  height: 506px;
}
